@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffeb3b;
  background-color: #fff;
  font-size: 16px;
  font-family: "Silkscreen", cursive;
  overflow: hidden;
}

.p5Canvas {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#counter {
  position: absolute;
  font-size: 144px;
  text-shadow: 8px 0px 0px #ff9800;
}
