@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #e54304;
  font-family: "Nabla", cursive;
}

#output {
  font-size: 192px;
  user-select: none;
}
